# Default Settings:
#
# token: string, GitHub access token
# backupPath: string, path where to backup
# cloneViaSSH: boolean, whether to clone via SSH or HTTPS

default:
    token: HERE_COMES_A_TOKEN
    backupPath: /path/to/backup/location
    cloneViaSSH: true
    ssh-key: path/to/some/id_sshkey

# Tracker Settings
#
# trackDB: string, path for the tracker database file

tracker:
    trackDB: /path/to/sqlite.db
    trackRepositories: true
    trackAbandonedBranches: true
    deleteAbandonedBranchesAfter: 90d
    deleteRemovedRepositoriesAfter: 90d
    deleteRemovedBranchesAfter: 90d

# Organizations Settings
# What organizations to backup

organizations:
    organization1:
        enabled: true

    organization2:
        enabled: true

    organization3:
        enabled: false